body,div,img, p, span{margin:0;
  font-size: 100%;
  font-weight: normal;}
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
  max-width: 20vw;
  height:70vh;
	margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color:gray;
  background-position: 616px 51px;
  background-repeat: no-repeat;
  background-size: 307px 633px;
   background-color:rgba(0, 0, 0, .5);
  background-image:url(bgr3.jpg);
 
}
.team-name{ 
background-color: white; 
color: black; 

} 



  
  div::before{
    content:"";
		position:absolute;
    bottom:-2px;
    height:20px;
	
  }
  
  div::after {
    content:"";
		position:absolute;
    bottom:-2px;
    height:20px;
	
	
  }


.person {
	color:black; 
	background:gray;
align-self: flex-end;
max-width: 180px;
  word-wrap: break-word;
  margin-bottom: 12px;
  margin-right:27px;
  line-height: 24px;
  position:relative;
	padding:10px 20px;
border-radius:25px;}
		
	.person::before {
			right:-7px;
		border-right:20px solid gray ;
		border-bottom-left-radius: 16px 3px;
		transform:translate(0, -2px);
		
	}

	.person::after {
		right:-56px;
		width:26px;
		background:black;
		border-bottom-left-radius: 10px;
		transform:translate(-30px, -2px);
		
		
	}

.team-member {
	background:Aquamarine;
color:black;
max-width: 180px;
  word-wrap: break-word;
  margin-bottom: 12px;
  margin-left:26px;
  line-height: 24px;
  position:relative;
	padding:10px 20px;
border-radius:25px;}
		
.team-member::before {
		left:-7px;
		border-left:20px solid Aquamarine;
		border-bottom-right-radius: 16px 2.5px;
		transform:translate(0, -2px);
		

	}

.team-member::after {
		left:4px;
		width:26px;
		background:black;
		border-bottom-right-radius: 20px;
		transform:translate(-30px, -2px);
	
	}
	
	

img{
	width:40px;
	height:40px;
border-radius:30px;
margin:3px;
}



.small-names{
	padding-left:60px;
}

i.fa {
  width: 10px;
  height: 10px;
  
  position: relative;
   right: 35px;
   top:3px;
  
}
input {
 border-radius:15px;

 height:25px;
 width:150px;

 margin-bottom:5px;
  
}

